:root{
    --color-Primary: #0275d8;
    --bg-page: rgb(235, 235, 235);
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: var(--bg-page);
}
.section-header {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  line-height: 1.2;
  margin-bottom: 22px;
}
.container-all-carousel {
  width: 1184px;
  margin: auto auto;
}
.section-header h2 {
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 0 8px;
  color: #666;
}
.section-header a {
  font-size: 16px;
  margin-bottom: 2px;
}
.section-header h2+a {
  margin-left: 16px;
}
.section-header .ui-link, .section-header a {
  -webkit-align-self: baseline;
  align-self: baseline;
  color: #3483fa;
  font-size: 16px;
  margin: auto 0 2px;
  text-decoration: none;
}
.carousel-container{
  display: flex;
  justify-content: space-evenly;
}
.carousel-container{
  width: 1184px;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
}